$info-color: #1890FF;
$fontSizeTitle : 20px;
$mainTextColor: #000000BF;
$mainFontSize:12px;
$backgroundColor : #ebeef3;
$inputGray:#BFBFBF;
$errorsColor:  #F5222D;
$successColor:#52C41A;


%opacityTextColor {
    color:#00000080;
    opacity: 50%;
}

$boxShadow: 0px 4px 12px 0px #00000026;




