@import "../../styles/variables" ;

.App {
  text-align: center;
  color: $mainTextColor;
  background-color:$backgroundColor;
  height: 100%;
  padding-bottom: 30px;
  //font-size: $mainFontSize;
  
}
