@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html {
  min-height: 100vh;
  background-color: #ebeef3;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body {
}
